{%extends "layout.html"%}
{%block title%}Account{%endblock%}

{%block content%}

<h2>{{current_user.username.title()}}'s DASHBOARD HERE</h2>
    <h6>{{ current_user.email }}</h6>

    <!-- EMAIL CHANGE-->
    <div class="row mt-4 pb-4 border-bottom">
        <div class="col-2">Email</div>
        <div class="col-10 input-group border-2" style="max-width: 35em">
            <input type="text" class="form-control" placeholder="Email">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="btn-change-email">Modify</button>
            </div>
        </div>
    </div>

    <!-- CATEGORIES CHANGE-->
    <div class="row p-1 mt-3 pb-2 align-items-center border-bottom">
        <div class="col-2">Categories</div>
        <div class="col-10">
            <div class="row p-1 mb-3 align-items-center">
            <div id="in_cats" class="col-md p-1 m-1" style="border-radius:0.7em; background: rgba(67 ,228 ,104 ,0.28);">
                <span class="t_block" id="in_salary">
                    <span class="fb-text">Salary</span> <span class="del-t_block">×</span>
                </span>
                <span class="t_block" id="in_salary">
                    <span class="fb-text">Salary</span> <span class="del-t_block">×</span>
                </span>
                <span class="t_block" id="in_salary">
                    <span class="fb-text">Salary</span> <span class="del-t_block">×</span>
                </span>
                <span class="t_block" id="in_salary">
                    <span class="fb-text">Salary</span> <span class="del-t_block">×</span>
                </span>
                <span class="t_block" id="in_salary">
                    <span class="fb-text">Salary</span> <span class="del-t_block">×</span>
                </span>
            </div>
            <div id="exp_cats" class="col-md p-1 m-1" style="border-radius:0.7em; background: rgba(228 ,67, 67 , 0.3);">
                 <span class="t_block" id="in_salary">
                    <span class="fb-text">Salary</span> <span class="del-t_block">×</span>
                </span>
                <span class="t_block" id="in_salary">
                    <span class="fb-text">Salary</span> <span class="del-t_block">×</span>
                </span>
                <span class="t_block" id="in_salary">
                    <span class="fb-text">Salary</span> <span class="del-t_block">×</span>
                </span>
                <span class="t_block" id="in_salary">
                    <span class="fb-text">Salary</span> <span class="del-t_block">×</span>
                </span>
                <span class="t_block" id="in_salary">
                    <span class="fb-text">Salary</span> <span class="del-t_block">×</span>
                </span>
            </div>
            </div>

            <div class="row p-1 mb-2 align-items-center justify-content-around">
                <div class="col-md p-1"><input type="text" style="width:20em" class="form-control" placeholder="Add new category..."></div>
                <div class="col-md p-1 form-group btn-group btn-group-toggle m-0" data-toggle="buttons">
                    <label class="btn btn-outline-success ">
                        <input id="log_type-0" name="log_type" type="radio" value="in">Income
                    </label>
                    <label class="btn btn-outline-danger">
                        <input id="log_type-1" name="log_type" type="radio" value="exp">Expanse
                    </label>
                </div>
                <div class="col-md p-1 m-0"><button class="btn btn-secondary">Add</button></div>
            </div>
            <div class="row p-1 mt-3 align-items-center align-content-center">
                <div class="col">
                    <p><small class="text-muted">Notice: You can not delete an active category</small></p>

                    <button class="btn btn-info">Update Categories</button>
                    <button class="btn btn-outline-danger">Reset Current Changes</button>
                </div>
            </div>
        </div>

    </div>

    <div class="row  pt-3 pb-3 align-items-center align-content-center border-bottom">
        <div class="col">
            <button class="btn btn-warning">Change Password</button>
        </div>
    </div>

    <div class="row pt-3 pb-3 align-items-center align-content-center border-bottom">
        <div class="col">
            <button class="btn btn-danger">Delete Account</button>
        </div>
    </div>





    <hr>
    <br><h3 ALIGN="LEFT">
    <a href="https://getbootstrap.com/docs/4.5/components/input-group/#button-addons"> input-group-prepend,</a>
    <br><ul> <li> on change: turn button-active</li>
    <li> put input-warning</li>
    <li> update button to each field</li>
    <li>password change link</li>
    <li>edit categories - adding freely (underscore is forbidden | with limit, maybe make SELECT scrolllable), delete allowed only if the user has no logs with this category</li>

    <li>delete account</li>
</ul>
    </h3>

{%endblock%}