{% extends "layout.html" %}
{% block title %}Account{% endblock %}

{% block content %}
    <script type="module" src="{{ url_for('static',filename='js/account.js') }}"></script>
    <h2>{{ current_user.username.title() }}'s User Dashboard</h2>
    <h6>{{ current_user.email }}</h6>

    <!-- EMAIL CHANGE-->
    <div class="row mt-4 pb-4 border-bottom">
        <div class="col-2">Change Email:</div>
        <div class="col-10 input-group border-2" style="max-width: 35em">
            <input type="text" class="form-control" style="height:inherit;" placeholder="Email" disabled>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="btn-change-email">Modify</button>
            </div>
        </div>
    </div>

    <!-- CATEGORIES CHANGE-->
    <div class="row p-1 mt-3 pb-2 align-items-center border-bottom">
        <div class="col-2">Modify Categories:</div>
        <div class="col-10">
            <div class="row p-1 mb-3 align-items-center">
                <div id="in_cats" class="col-md p-1 m-1"
                     style="border-radius:0.7em; background: rgba(67 ,228 ,104 ,0.28);">

                </div>
                <div id="exp_cats" class="col-md p-1 m-1"
                     style="border-radius:0.7em; background: rgba(228 ,67, 67 , 0.3);">

                </div>
            </div>

            <div class="row p-1 mb-2 align-items-center justify-content-around">
                <div class="col-md-5 p-1"><input type="text" id="add_cat_input" maxlength="15" style="width: inherit"
                                                 class="form-control" placeholder="Add new category..."></div>
                <div class="col-md p-1 form-group btn-group btn-group-toggle m-0" data-toggle="buttons">
                    <label class="btn btn-outline-success ">
                        <input id="log_type-0" name="log_type" type="radio" value="in">Income
                    </label>
                    <label class="btn btn-outline-danger">
                        <input id="log_type-1" name="log_type" type="radio" value="exp">Expanse
                    </label>
                </div>
                <div class="col-md p-1 m-0">
                    <button id="add_cat_submit" class="btn btn-secondary" style="width:inherit">Add</button>
                </div>
            </div>
            <div class="row p-1 mt-3 align-items-center align-content-center">
                <div class="col">
                    <p>
                        <small style='display: block' class="text-muted">Notice: You can not delete an active
                            category</small>
                        <small style='display: block' id="mod_cat_msg"></small>
                    </p>

                    <button id="save_mod_cats" class="btn btn-info">Save Categories Changes</button>
                    <button id="reset_mod_cats" class="btn btn-outline-danger">Reset Current Changes</button>
                </div>
            </div>
        </div>

    </div>

    <div class="row  pt-3 pb-3 align-items-center align-content-center border-bottom">
        <div class="col">
            <button class="btn btn-warning" disabled>Change Password</button>
        </div>
    </div>

    <div class="row pt-3 pb-3 align-items-center align-content-center border-bottom">
        <div class="col">
            <button class="btn btn-danger" data-toggle="modal" data-target="#deleteUserPopup">Delete Account</button>
        </div>
    </div>

    <!-- DELETE USER POPUP-->

    <div class="modal fade" id="deleteUserPopup" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirm User Deletion</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post">
                   <p> Be warned that deleting your account is <b> irreversible</b>.
                    <br>This means all your Piggy data will be removed.</p>
                    <p>If you wish to delete your account - Enter your Password:</p>
                    <div class="form-group mt-3">

                        <input type="password" class="form-control" id="password"  name="password"
                               placeholder="Password">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" name="user_deletion" class="btn btn-danger" value="Delete Me (!)"/>
                </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}