{%extends "layout.html"%}
{%block title%}Table{%endblock%}
{% block head %}
     <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/mark.min.js"></script>
{% endblock %}

{%block content%}
    <script type='module' src='{{ url_for('static',filename='js/table.js') }}'></script>
<h1>Incomes / Expanses</h1>

    <div class="row justify-content-center">

        <!-- SIDE BAR-->
        <div class="col-md-3 text-center p-3">
            <div class="card" style="width: 100%;">
                <div class="card-header"><small>Manage, Add and Edit your Incomes and Expanses via Smart Table
</small></div>
                <div class="card-body border-bottom" style="background: #d5f7ff">
                    <h5 class="card-title">Balance:</h5>
                    <h4 class="card-text">{{ logs_pack['balance'] }}</h4>
                </div>

                <!--
                <div class="card-body border-bottom">
                    <button id='' class="btn btn-info">
                        <svg class="big-icon-white">
                            <use href="{{ url_for('static',filename='my-icons.svg') }}#add_log_ic"/>
                        </svg>
                    </button>
                </div>

                <div class="card-body border-bottom">
                    ---monthes <br>scroll spy---
                </div>-->

                <div class="card-body border-bottom">
                    <button id='sync_table_btn' class="btn btn-primary">
                        <svg class="icon-white">
                            <use href="{{ url_for('static',filename='my-icons.svg') }}#refresh_ic"/>
                        </svg>
                        Sync Table
                    </button>

                </div>

                <a id="a_export_csv" class="card-link" href="#">
                <div class="media card-body border-bottom">
                    <svg class="icon" style="fill:#1D6F42">
                        <use href="{{ url_for('static',filename='my-icons.svg') }}#export-sheet_ic"/>
                    </svg>

                    <span class="media-body">Export to CSV</span>
                </div></a>

                <a id="a_take_filters" class="card-link" style="margin-left: 0" href="#">
                <div class="media card-body border-bottom">
                    <svg class="icon" style="fill:#d2840c">
                        <use href="{{ url_for('static',filename='my-icons.svg') }}#analyze_ic"/>
                    </svg>
                    <span class="media-body">Take Filters to Analysis</span>
                </div></a>

                <div class="card-footer">
                    <div class="media d-sm-block d-md-none">
                        <svg class="icon mr-1">
                            <use href="{{ url_for('static',filename='my-icons.svg') }}#laptop"/>
                        </svg>
                        <span class="media-body small">
                            For better experience - Switch to your <b>Desktop</b>
                        </span>
                    </div>
                    <small></small>
                </div>

            </div>
        </div>

        <!--TOOLBAR -->
        <div class="col-md-9 mt-3 mb-5">
            <div class="toolbar row p-2 m-0 align-items-center rounded" style="background-color:#d3e9f8;">
                <div class="col-3">
                     <button id='open_add_btn_toolbar' style='width:100%' class='btn btn-info' type="button">
                        <svg class="icon-white">
                            <use href="{{ url_for('static',filename='my-icons.svg')}}#add_log_ic"></use>
                        </svg>
                         New Log
                    </button>
                </div>
                <div class="col-2 border-left border-right" style="border-color: white;">
                    <button id='btn-expand_all' style='width:100%' class='btn btn-primary' type="button">
                        <svg class="icon-white">
                            <use href="{{ url_for('static',filename='my-icons.svg')}}#expand_ic"></use>
                        </svg>
                    </button>
                </div>
                <div class="col-3 border-right">
                    <button id='btn_filter_dialog' style='width:100%' class='btn btn-secondary' type="button">
                        <svg class="icon-white">
                            <use href="{{ url_for('static',filename='my-icons.svg')}}#filter_ic"></use>
                        </svg>
                        Filter
                    </button>
                </div>
                <div class="col">
                    <input style="width:100%; padding:0.35em; border-radius: 5px; border-width: thin;" id="filter_search" placeholder="Search" type="text"/>
                    <svg class="icon" style="position: absolute; width:1.2em;margin-top:0.3em; margin-left:-1.7em;">
                        <use href="{{url_for('static',filename='my-icons.svg')}}#search_ic"/>
                    </svg>
                </div>
            </div>
            <div class="filters row p-2 align-items-center border rounded"
                 style="width:90%; border-top-left-radius:0px;border-top-right-radius:0px;  background-color:#edf2f5;">

                <div id="filter_status_bar" style="display: none;" class='col-12'>
                    <b>Filters:</b>
                    <span class="t_block" id="fb_search"> Look for: <span class="fb-text">lol</span> <span class="del-t_block">&times;</span></span>
                    <span class="t_block" id="fb_sortBy"> Sort By: <span style="text-transform:capitalize;"class="fb-text">lol</span> <span class="del-t_block">&times;</span></span>
                    <span class="t_block" id="fb_type"> Type:  <span class="fb-text">lol</span> <span class="del-t_block">&times;</span></span>
                    <span class="t_block" id="fb_date_from"> From: <span class="fb-text">lol</span> <span class="del-t_block">&times;</span></span>
                    <span class="t_block" id="fb_date_until"> Until: <span class="fb-text">lol</span> <span class="del-t_block">&times;</span></span>
                    <span class="t_block" id="fb_amount_min"> Min: <span class="fb-text">lol</span> NIS <span class="del-t_block">&times;</span></span>
                    <span class="t_block" id="fb_amount_max"> Max: <span class="fb-text">lol</span> NIS <span class="del-t_block">&times;</span></span>
                    <span class="t_block" id="fb_category"> Categories: <span class="fb-text">lol,lol,lol</span> <span class="del-t_block">&times;</span></span>
                    <a id="clear_filters" class="t_block" href=""><b>Clear all</b></a>
                </div>

                </div>


            <!-- MAIN TABLE-->
            <table id='logs_table' class="table table-responsive-sm text-center mt-3 table-hover">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Month

                    </th>
                    <th scope="col">
                        Date
                        <svg class="icon-inline sort-table-icons" id="date_sort" alt="sort">
                            <use href="{{ url_for('static',filename='my-icons.svg') }}#sort_up"/>
                        </svg>
                    </th>
                    <th scope="col">
                        Amount
                        <svg class="icon-inline sort-table-icons" id="amount_sort">
                            <use href="{{ url_for('static',filename='my-icons.svg') }}#sort"/>
                        </svg>
                    </th>
                    <th scope="col">
                        Category
                        <svg class="icon-inline sort-table-icons" id="category_sort">
                            <use href="{{ url_for('static',filename='my-icons.svg') }}#sort"/>
                        </svg>
                    </th>
                    <th scope="col">Options</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>

                </tfoot>
            </table>
        </div>
    </div>


    <!-- In/Out ADD-POPUP-->
    <div class="modal fade" id="add_popup"> <!-- ARIA?-->

        <script>
            {% if add_form_pack['open_dialog_on_load'] %}
                $(window).on('load', function () {
                    $('#add_popup').modal('show');
                });
            {% endif %}
        </script>
        <style>
            select option[disabled] {
                display: none;
            }
        </style>
        <div class="modal-dialog modal-dialog-centered" style="overflow-y:auto;">
            <div class="modal-content">
                <form action="" method="POST" id="dialog_form" novalidate> {{ add_form.hidden_tag() }}
                    <div class="modal-header">
                        <h5 class="modal-title">Income/Expanses Addition</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <div class="form-group btn-group btn-group-toggle col-11" data-toggle="buttons">
                            <label class="btn btn-outline-success">
                                {{ add_form_pack['radio_lst'][0] }}Income
                            </label>
                            <label class="btn btn-outline-danger">
                                {{ add_form_pack['radio_lst'][1] }}Expanse
                            </label>
                        </div>

                        <div align='left' class="form-group row">
                            {{ add_form.amount.label(class="col-sm-2 col-form-label") }}
                            <div class="col-sm-10">
                                {{ add_form.amount(class="form-control" + (" is-invalid" if add_form.amount.errors else "") ,id="amount") }}
                                <small id="amount_help"
                                       class="form-text text-muted">{{ add_form.amount.description }}</small>
                            </div>
                        </div>

                        <div align='left' class="form-group row">
                            {{ add_form.category.label(class="col-sm-2 col-form-label") }}
                            <div class="col-sm-10">
                                {{ add_form.category(class="form-control" + (" is-invalid" if add_form.category.errors else "")) }}
                                <small id="category_help" class="form-text text-muted">Categories Lists can be edited in
                                    <a href="{{ url_for('account') }}">Account</a></small>
                            </div>
                        </div>

                        <div align='left' class="form-group row">
                            {{ add_form.title.label(class='col-sm-2 col-form-label') }}
                            <div class="col-sm-10">
                                {{ add_form.title(class='form-control'+ (" is-invalid" if add_form.title.errors else ""), maxlength='20',placeholder=add_form.title.description) }}
                            </div>
                        </div>

                        <div align='left' class="form-group row">
                            {{ add_form.time_logged.label(class='col-sm-2 col-form-label') }}
                            <div class="col-sm-10">
                                {{ add_form.time_logged(class='form-control'+ (" is-invalid" if add_form.time_logged.errors else "")) }}
                                <small class="form-text text-muted">{{ add_form.time_logged.description }}</small>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            {{ add_form.submit_dialog(class='btn btn-info') }}
                            {{ add_form.delete_dialog(class='btn btn-danger') }}
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--Filters PopUP-->
    <div class="modal fade" id="filter_popup">
        <div class="modal-dialog modal-dialog-centered" style="overflow-y:auto;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Table Filters</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="filter_form">
                    <div class="form-group row m-0">
                        <select id="filter_type" class="form-control mb-3">
                            <option value="">Filter by Type</option>
                            <option value="exp">Expanses Only</option>
                            <option value="inc">Incomes Only</option>
                        </select>
                    </div>

                    <div class="form-group row align-items-center">
                        <div class="col-1">
                            <label class='m-0' for="filter_date_from">From:</label>
                        </div>
                        <div class="col-5">
                            <input type="date" id="filter_date_from" class="form-control ml-1"/>
                        </div>
                        <div class="col-1">
                        <label  class='m-0' for="filter_date_until">Until:</label>
                        </div>
                        <div class="col-5">
                            <input type="date" id="filter_date_until" class="form-control ml-1"/>
                        </div>
                    </div>

                    <div class="form-group row align-items-center">
                        <div class="col-1">
                            <label class='m-0' for="filter_amount_min">Min:</label>
                        </div>
                        <div class="col-5">
                            <input type="number" min='0' id="filter_amount_min" class="form-control ml-1"/>
                        </div>
                        <div class="col-1">
                        <label  class='m-0' for="filter_amount_max">Max:</label>
                        </div>
                        <div class="col-5">
                            <input type="number" min='0' id="filter_amount_max" class="form-control ml-1"/>
                        </div>
                    </div>

                     <div class="form-group row align-items-center">
                        <div class="col-2">
                            Categories:
                        </div>
                         <div id="filter_cat" class="col">
                            <div id="filter_cat_in" class="mb-1 pb-2 border-bottom">
                                <!--JS RENDER-->
                            </div>
                            <div id="filter_cat_exp" class="mb-1 pb-2 border-bottom">

                            </div>
                            <div id="filter_cat_other">
                                <a href="" id="other" class="badge badge-secondary mr-1">Other</a>
                            </div>

                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" value="Apply" class="btn btn-info"/>
                        <button type="reset" class="btn btn-outline-danger">Clear</button>
                    </div>
               </form> </div>
            </div>
        </div>
    </div>


{%endblock%}